JustWinFormsCalc/Connected Services/JustWcfServiceCalc.Clients.Calculator/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JustWcfServiceCalc" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JustWcfServiceCalc" minOccurs="0" name="contract" nillable="true" type="q1:CalcContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JustWcfServiceCalc" minOccurs="0" name="AddResult" nillable="true" type="q2:CalcResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Substract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JustWcfServiceCalc" minOccurs="0" name="contract" nillable="true" type="q3:CalcContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubstractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JustWcfServiceCalc" minOccurs="0" name="SubstractResult" nillable="true" type="q4:CalcResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JustWcfServiceCalc" minOccurs="0" name="contract" nillable="true" type="q5:CalcContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JustWcfServiceCalc" minOccurs="0" name="MultiplyResult" nillable="true" type="q6:CalcResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Divide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JustWcfServiceCalc" minOccurs="0" name="contract" nillable="true" type="q7:CalcContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JustWcfServiceCalc" minOccurs="0" name="DivideResult" nillable="true" type="q8:CalcResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>